<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Counter</title>
    <script src="https://unpkg.com/react@^16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.13.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>

  <body>
    <div id="root"></div>

    <script type="text/babel">
      function increment(state, props) {
        return {
          count: state.count + 1,
        };
      }

      function decrement(state, props) {
        return {
          count: state.count - 1,
        };
      }

      const incrementBy = (someValue) => (state, props) => ({
        count: state.count + someValue,
      });

      class Counter extends React.Component {
        // state = {
        //   count: 0,
        // };

        constructor(props) {
          super(props);
          this.state = {
            count: props.initialValue,
            color: "green",
          };
          // this.doSomething = this.doSomething.bind(this);
        }

        getColor(count) {
          let color;
          if (count >= 10) {
            color = "red";
          } else if (count >= 5) {
            color = "purple";
          } else {
            color = "green";
          }
          return color;
        }

        increaseHandler = () => {
          // Very bad
          // this.state.count = this.state.count + 1; Very bad

          // this is also very bad dont do this
          // let someState = this.state.count;
          // someState = someState + 1;
          // this.setState({ count: someState });

          // This is awesome always do this
          this.setState((state, props) => {
            return {
              count: state.count + 1,
            };
          });
          // This is totally fine as well
          // this.setState(increment)
        };

        decreaseHandler = () => {
          this.setState((state, props) => {
            return {
              count: state.count - 1,
            };
          });
          // this.setState(decrement)
        };

        doSomething = (event) => {
          this.setState(incrementBy(10));
        };

        render() {
          const { count } = this.state;
          return (
            <React.Fragment>
              <p>{JSON.stringify(this.state)}</p>
              <button onClick={this.doSomething}>Do Something</button>
              <button onClick={this.increaseHandler}>increase</button>
              <button onClick={this.decreaseHandler}>decrease</button>
              <p style={{ color: this.getColor(count) }}>{count}</p>
              {/*
                  Another way of doing this using classes. Check the styles.css!
                  <p className={this.getColor(count)}>{count}</p>
              */}
            </React.Fragment>
          );
        }
      }

      class App extends React.Component {
        render() {
          return (
            <React.Fragment>
              <Counter initialValue={10} />
            </React.Fragment>
          );
        }
      }

      ReactDOM.render(<App />, document.getElementById("root"));
    </script>
  </body>
</html>
